#tb{
	margin-top: 50px;
}
.addnote{
	color:white;
	font-family: 'Sen', sans-serif;
	margin-left: 270px;

}


#colnote{
	background-color:#262422;
	border-radius: 10px;
	padding-bottom: 20px;

}
.notel{
	color:white;
	font-family: 'Sen', sans-serif;

}

#notebod{
	background-image:url(/images/note.jpeg);
	/*background-color:white;*/
	background-size:100%;
	background-repeat: no-repeat;
}
.notell{
	color: black;
	font-family: 'Sen', sans-serif;
}
.logo{
	margin-left: 20px;
	margin-right: 1000px;
	font-family: 'Acme', sans-serif;

}
#nav{
	padding-bottom: 5px;
}
#todofont{
	color: white;
	font-family: 'Sen', sans-serif;
}
#coltodo{
	background-color:#262422;
	border-radius: 10px;
	padding-bottom: 20px;

}
#addtask{
	color: white;
	font-family: 'Sen', sans-serif;
	margin-left: 190px;	
}
#welcome{
	background-image:url(/images/todo.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}
.award{
	margin-top: 250px;
}
#label{
	margin-left:450px;
	font-family: 'Abel', sans-serif;	
	
}
#btnlink{
	margin-top: 30px;
	font-family: 'Abel', sans-serif;

}